@import url("normalize.css");

@font-face {
	font-family: "Centaur";
	font-weight: 400; /* graisse definie dans fichier de la fonte (verifier dans glyph ou fontlab -> font Info) */
	src: url('../fonts/CentaurM9.otf');

}

@font-face {
	font-family: "CentaurIt";
	font-weight: 400; /* graisse definie dans fichier de la fonte (verifier dans glyph ou fontlab -> font Info) */
	src: url('../fonts/CentaurIt.otf');
}


em, i {
	font-family: "CentaurIt";
	font-style: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@font-face {
	font-family: "Helve";
	font-weight: 700; /* graisse definie dans fichier de la fonte (verifier dans glyph ou fontlab -> font Info) */
	src: url('../fonts/HelveticaB.otf');
}

body {
	/* on appelle la famille déclarée via font-face */
	font-family: "Centaur", sans-serif;
	
    /* largeur du document */
	background-color: #000000;
	color: #ffffff;	
	/* marges : left & right = auto = contenu centré dans la page */
	margin: 25px 20px 25px 20px;
	text-align: justify;
	font-size: 20px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

p {
	margin: 20px 20% 20px 20%;
	background-color: #000;
	mix-blend-mode: exclusion;
}

/* paragraphes */
.p1  {
	line-height: 25px;
	text-align: left;
	margin: 20px 0px 20px 0;
}

.p2 p {

	margin: 330px 0 900px 0;
}

h1 {
	font-size: 22vmin;
	font-family: "Helve";
	color: #8A2BE2;
	line-height: 18vmin;
	text-align: left;
	margin-left: 20.5%;
	margin-top: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

}

.eyes {
	position:fixed;
	width:18%;
}

.eyes p {
	margin:0;
}
.eyes img {
	max-width: 100%;
	width: 100%;
	margin: 0;
	height: auto;
}

.bigeyes img {
	width: 100vmin;
	height: auto;
}

.bigeyes {
	text-align: center;
}

body.intro {
	margin: 0;
}

sup {
	bottom: 30%;
	font-size: 75%;
}


header {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%
	z-index: 999;
	mix-blend-mode: color;
	/*background-color: #ffff00*/
}

/*
img {
max-width: 30%;
}*/

.secret img {
	max-width: 30%;
}	

.habillage {
	display: block;
	float: left;
	width: 40%;
    margin-left: -15%;
    margin-right: 10%;

    font-family: sans-serif;
    text-align: left; 
    font-size: 14px;
    line-height: 15px;
    color: #ffffff;
    padding: 15px 0px 15px 15px;

    clear: both;

}

.habillage img {
	width: 100%
	height: auto;
}

.habillage-droite {
	display: block;
    right: 0;
    float: right;
    width: 40%;
    margin-right: -15%;

    font-family: sans-serif;
    font-size: 14px;
    text-align: right;
    line-height: 15%
    color: #ffffff;
    padding: 20px 0 20px 20px;

    clear: both;
}

.habillage-droite img {
	width: 100%;
	height: auto;
}

.habillage p, .habillage-droite p {
	margin: 0;
}


@media screen and (min-width: 768px) and (max-width: 1100px) {

	body {
		font-size: 16px;
	}
	
}

@media screen and (max-width: 767px) {
	body {
		font-size: 18px;
		text-align: left;
	}

	p {
		margin: 20px 10% 20px 10%;
	}

	h1 {
		font-size: 15vmin;
		line-height: 15vmin;
		margin-left: 10%;
	}

	.habillage {
		width: 100%;
		float: none;
		margin: 20px auto 20px auto;
		padding: 0;
	}

	.habillage-droite {
		width: 100%;
		float: none;
		margin: 20px auto 20px auto;
		padding: 0;
	}
}

